body {
	background-color: #0E5084;
	color: #FFF;
}

h1, h2 {
	color: white;
}

.restrict {
	max-width: 400px;
	margin:  25px auto 0;
}

.form {
	margin-bottom: 25px;
}

#output {
	display: flex;
	flex-direction: row;
}

#output > div {
	flex: 0 1 50%;
}

#doIt .rolling {
	display: none;
	color: #FFF;
}

#doIt.rolling .rolling {
	display: inline;
}

#doIt.rolling .roll {
	display: none;
}

.dice,
td:first-child,
.reminder {
	text-align: center;
}

.results {
	border: solid #B1C0DE 1px;
	background-color: rgba(255, 255, 255, 0.1);
	margin-bottom: 35px;
}

.dice {
	font-size: 45px;
	padding-top: 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1 0 100%;
}

.dice > div {
	flex-grow: 1;
}

.die {
	border-radius: 10px;
	display: none;
	width: 75px;
	height: 75px;
	margin: 0 auto;
	background-color: #273756;
	justify-content: center;
	align-items: center;
}

.dice.show .die {
	display: flex;
}

#doIt {
	width: 100%;
	border: none;
	font-size: 18px;
	outline: 0;
	padding: 10px 20px;
	background-color: #B1C0DE;
	transition: background-color 1s ease;
}

#doIt:active {
	background-color: #FFF;
}

.options, .detail {
	padding: 15px 0;
}

table {
	margin: 0 auto;
	width: 100%;
	border-collapse: collapse;
	border: none;
}

tr:not(tr:last-child) {
	border-bottom: solid #0E5084 1px;
}

td {
	background-color: #B1C0DE;
	color: #000;
	padding: 6px 10px;
}

tr.selected td {
	background-color: #FFF;
}

td:first-child {
	border-right: solid #0E5084 1px;
	width: 67px;
}

.total {
	font-size:  65px;
}

.reminder {
	margin: 15px 0;
}

@media (min-width: 400px) {
	
}