h2 {
	margin-top: 20px;
	margin-bottom 20px;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	padding: 9px 10px;
	font-size: 14px;
	width: 100%;
	border: 0;
	outline: 0;
	background-image: url(down-triangle.png);
	background-position: right 8px center;
	background-repeat: no-repeat;
	background-size: 10px;
}

button {
	border: none;
	outline: none;
	padding: 10px 20px;
	background-color: #006;
	color: #EEEBD8;
	font-size: 14px;
}

table {
	border-collapse: collapse;
	min-width: 100%;
	margin-bottom: 20px;
}

td, th {
	padding: 10px 20px;
}

th {
	background-color: rgba(0, 0, 0, 0.2);
}

th:first-child,
td:first-child {
	width: 125px;
}

th:last-child {
	text-align: left;
	padding-left: 0;
}

tr:nth-child(2n) {
	background-color: rgba(255, 255, 255, 0.2);
}

.restrict {
	max-width: 1000px;
	margin: 20px auto;
}

.controls {
	display: flex;
	flex-direction: flex-row;
	margin-bottom: 20px;
}

.controls div:first-child {
	width: calc(100% - 140px);
	position: relative;
}

#viewButton {
	margin-left: 1px;
}

.view-button {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);	
}

.slider {
	overflow-y: hidden;
	transition-property: max-height;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
	/*margin-bottom: 40px;*/
}

.slider.closed {
	margin-bottom: 0;
}

h2.closed {
	border-bottom: solid 1px;
}

table.treasure {
	background-color: rgba(238, 235, 216, 0.9);
	color: #333;
}

table.gems {
	background-color: rgba(222, 8, 8, 0.6);
}

table.art-objects {
	background-color: rgba(244, 210, 68,1);
	color: #333;
}

table.magic-items {
	background-color: rgba(100,72,130,1);
	color: #EEEBD8;
}

.full-table.treasure th,
.full-table.treasure td {
	text-align: center;
	padding: 5px;
}

.full-table th:first-child,
.full-table td:first-child {
	text-align: center;
}

table a {
	color: inherit;
	text-decoration: none;
}

.rollable,
.table-reference {
	margin: 3px 5px;
	padding: 3px 5px;
	display: inline-block;
	border: solid 1px;
	border-radius: 4px;
	text-align: center;
}

tr.selected {
	background-color: rgba(0, 100, 0, 0.8);
	color: #EEEBD8;
}

tr.selected td:first-child {
	position: relative;
}

.table-top {
	position: absolute;
	bottom: 4px;
	left: 4px;
	padding: 5px;
	width: 25px;
	height: 25px;
	border-radius: 12px;
	font-size: 12px;
	display: none;
}

.selected .table-top {
	display: block;
}

.roll {
	font-size: 32px;
	text-align: center;
	font-weight: bold;
}

.result {
	font-size: 18px;
	padding-left: 0;
}

.result-text {
	margin-bottom: 15px;
}

.result-text a {
	display: block;
	position: relative;
	padding-right: 26px;
}

.fa-external-link-alt {
	position: absolute;
	top: 0;
	right: 0;
	width: 18px;
}

.details-link {
	display: inline-block;
	padding: 5px 10px;
	margin: 5px 5px 0 0;
	background-color: #006;
	color: #EEEBD8;
	font-size: 12px;
	white-space: nowrap;
	cursor: pointer;
}

.detail {
	font-size: 14px;
	margin: 10px 0;
	text-align: left;
}

.fa-dice {
	animation-duration: 0.25s;
	cursor: pointer;
}

.control-buttons {
	position: fixed;
	bottom: 10px;
	right: 10px;
	text-align: center;
}

.control-buttons > div {
	margin: 0 10px;
}

.control-buttons button {
	padding: 5px;
	width: 35px;
	height: 35px;
	border-radius: 18px;
}

.control-buttons p {
	margin: 5px 0;
}

.table-list,
.stash {
	display: none;
}

.page-top {
	display: inline-block;
}

@media screen and (min-width: 540px) {
	.rollable,
	.table-reference {
		display: inline-block;
	}
}