h2 {
	margin-top: 20px;
	margin-bottom 20px;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	padding: 9px 10px;
	font-size: 14px;
	width: 100%;
	border: 0;
	outline: 0;
	background-image: url(down-triangle.png);
	background-position: right 8px center;
	background-repeat: no-repeat;
	background-size: 10px;
}

button {
	border: none;
	outline: none;
	padding: 10px 20px;
	background-color: #006;
	color: #EEEBD8;
	font-size: 14px;
}

table {
	border-collapse: collapse;
	min-width: 100%;
	margin-bottom: 20px;
}

td, th {
	padding: 10px 20px;
}

th {
	background-color: rgba(0, 0, 0, 0.2);
}

th:first-child,
td:first-child {
	width: 125px;
}

th:last-child {
	text-align: left;
	padding-left: 0;
}

tr:nth-child(2n) {
	background-color: rgba(255, 255, 255, 0.2);
}

.restrict {
	max-width: 1000px;
	margin: 20px auto 50px;
}

.controls {
	display: flex;
	flex-direction: flex-row;
	margin-bottom: 20px;
}

.controls div:first-child {
	width: calc(100% - 140px);
	position: relative;
}

#viewButton {
	margin-left: 1px;
}

.view-button {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);	
}

.slider {
	overflow-y: hidden;
	transition-property: max-height;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
	/*margin-bottom: 40px;*/
}

.slider.closed {
	margin-bottom: 0;
}

h2 a {
	color: inherit;
}

h2.closed {
	border-bottom: solid 1px;
}

table.treasure {
	background-color: rgba(238, 235, 216, 0.9);
	color: #333;
}

table.gems {
	background-color: rgba(222, 8, 8, 0.6);
}

table.art-objects {
	background-color: rgba(244, 210, 68,1);
	color: #333;
}

table.magic-items {
	background-color: rgba(100,72,130,1);
	color: #EEEBD8;
}

.full-table.treasure th,
.full-table.treasure td {
	text-align: center;
	padding: 5px;
}

.full-table th:first-child,
.full-table td:first-child {
	text-align: center;
}

table a {
	color: inherit;
	text-decoration: none;
}

.rollable,
.table-reference {
	margin: 3px 5px;
	padding: 3px 5px;
	display: inline-block;
	border: solid 1px;
	border-radius: 4px;
	text-align: center;
	cursor: pointer;
}

tr.selected {
	background-color: rgba(0, 100, 0, 0.8);
	color: #EEEBD8;
}

tr.selected td:first-child {
	position: relative;
}

.table-top {
	position: absolute;
	bottom: 4px;
	left: 4px;
	padding: 5px;
	width: 25px;
	height: 25px;
	border-radius: 12px;
	font-size: 12px;
	display: none;
}

.selected .table-top {
	display: block;
}

.roll {
	font-size: 32px;
	text-align: center;
	font-weight: bold;
}

.result {
	font-size: 18px;
	padding-left: 0;
}

.result-text {
	margin-bottom: 15px;
}

.result-text a {
	display: block;
	position: relative;
	padding-right: 26px;
}

.fa-external-link-alt {
	position: absolute;
	top: 0;
	right: 0;
	width: 18px;
}

.details-link {
	display: inline-block;
	padding: 5px 10px;
	margin: 5px 5px 0 0;
	background-color: #006;
	color: #EEEBD8;
	font-size: 12px;
	white-space: nowrap;
	cursor: pointer;
}

.detail {
	font-size: 14px;
	margin: 10px 0;
	text-align: left;
}

.fa-dice {
	animation-duration: 0.25s;
	cursor: pointer;
}

.control-buttons {
	position: fixed;
	bottom: 0px;
	left: 0px;
	text-align: center;
	letter-spacing: -15px;
	background-color: #006;
	width: 100%;
	box-shadow: 0 0 50px 0px #000;
}

.control-buttons > div {
	display: inline-block;
	letter-spacing: normal;
}

.control-buttons button {
	padding: 5px 15px;
	height: 35px;
	border-right: solid #66D 1px;
	cursor: pointer;
}

.control-buttons button .fas {
	margin-right: 5px;
}

.control-buttons div:first-child button {
	border-left: solid #66D 1px;
}

.table-list {
	display: none !important;
}

.page-top {
	display: inline-block;
}

.stash-modal {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 94vw;
	height: 94vh;
	margin: 3vh auto;
	padding: 10px;
	background-color: #006;
	max-width: 940px;
	border-radius: 8px;
	display: none;
	z-index: 5;
}

.stash-empty .copy,
.stash-empty .clear {
	display: none;
}

.stash-controls {
	text-align: left;
	height: 20px;
}

.stash-controls a {
	display: inline-block;
	margin-right: 5px;
	cursor: pointer;
}

.stash-controls .close {
	position: absolute;
	top: 5px;
	right: 5px;
	margin: 0;
}

.stash-no-items {
	padding: 20px;
	text-align: center;
}

.stash-output {
	display: block;
	width: 100%;
	height: calc(100% - 30px);
	margin-top: 10px;
	padding: 15px;
}

.stash-item {
	padding: 8px 16px;
	letter-spacing: -15px;
}

.stash-item * {
	letter-spacing: normal;
	vertical-align: top;
}

.stash-item:nth-child(even) {
	background-color: rgba(255, 255, 255, 0.3);
}

.stash-item:nth-child(odd) {
	background-color: rgba(255, 255, 255, 0.1);
}

.stash-item-text {
	display: inline-block;
	width: calc(100% - 40px);
	text-align: left;
}

.stash-item-buttons {
	width: 40px;
	min-width: 40px;
	display: inline-block;
}

.stash-item-buttons button {
	display: inline-block;
	padding: 0;
	margin: 0;
	width: auto;
	background: transparent;
	height: auto;
}

.stash-item-delete-button {
	color: #E22;
}

.stash-item-delete-confirm-text {
	display: none;
	color: #E22;
	margin-bottom: 10px;
}

.deleting .stash-item-delete-confirm-text {
	display: block;
}

.stash-item .stash-item-confirm-button {
	margin-bottom: 10px;
}

.stash-item .stash-item-confirm-button,
.stash-item .stash-item-cancel-button {
	padding: 3px 5px;
	width: 100%;
	border: solid 1px;
	display: none;
	border-radius: 0;
}

.stash-item.deleting .stash-item-confirm-button,
.stash-item.deleting .stash-item-cancel-button {
	display: inline-block;
}

.stash-item.deleting .stash-item-delete-button {
	display: none;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
	z-index: 0;
}


@media screen and (min-width: 540px) {
	.rollable,
	.table-reference {
		display: inline-block;
	}
}

@media screen and (min-width: 600px) {
	.control-buttons {
		width: auto;
		left: 50%;
		transform: translateX(-50%);
		border-radius: 8px 8px 0 0;
		overflow: hidden;
	}

	.control-buttons > div:first-child button {
		border-left: none;
	}

	.control-buttons > div:last-child button {
		border-right: none;
	}
}