#posts {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	column-gap: 20px;
	row-gap: 25px;
	padding: 30px 15px;
}

#posts > div {
	
}

.post {
	background-color: #FFF;
	color: #333;
	display: grid;
	grid-template-columns: minmax(150px, 40%) 1fr;
	border: solid #33BBAA 1px;
	width: 100%;
}

.post h2 {
	color: #333;
}

.tags {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 14px;
}

.tag {
	display: inline-block;
	vertical-align: bottom;
}

.tag::before {
	content: '#';
}

.image {
	background-size: cover;
	filter: blur(1px);
	background-repeat: no-repeat;
	background-position: 15px 15px;
	border-right: solid black 1px;
}

.timers-post .image {
	background-image: url(../images/timers.png);
	background-color: #64635F;
}

.pbta-post .image {
	background-image: url(../images/pbta.png);
	background-color: #FFF;
}

.fate-core-post .image {
	background-image: url(../images/fate-core.png);
	background-color: #0E5084;
}

.l5r-dice-post .image {
	background-image: url(../images/l5r-dice.png);
	background-color: #38332F;
}

.dnd-treasure-post .image {
	background-image: url(../images/dnd-treasure.png);
	background-color: #6677BB;
}

.trinkets-post .image {
	background-image: url(../images/trinkets.png);
	background-color: #333;
}

.content {
	padding: 15px;
	display: grid;
	grid-template-rows: 1fr 15px;
}

@media (min-width: 800px) {
	#posts {
		padding-left: 0;
		padding-right: 0;
		grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	}
}