* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	padding: 0;
	margin: 0;
	background-color: #2C302F;;
	
	height: 100%;
}

footer {
	text-align: center;
	font-size: 14px;
}

h1, h2, h3, h4 {
	font-family: 'Righteous', serif;
	margin-top: 0;
	position: relative;
	color: #9933CC;
}

header h1 {
	text-align: left;
	position: relative;
	font-size: 32px;
	margin-bottom: 8px;
	-webkit-text-stroke: 0.25px #33BBAA;
	font-weight: bold;
}

header h1 .fas {
	-webkit-text-stroke: 1px #33BBAA;
}

h2 {
	font-size: 1.3em;
}

p {
	margin-top: 0;
	margin-bottom: 12px;
}

a {
	text-decoration: none;
	color: #9BC4B2;
}

h1 a, h2 a, h3 a, h4 a {
	color: inherit;
}

button {
	cursor: pointer;
}

a.back-link {
	font-size: .8em;
}

.layout {
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100%;
}

.layout > *:first-child,
.layout > *:last-child {
	padding: 15px;
	background-color: #2C302F;
	color: #FFF;
}

.layout > *:first-child {
	border-bottom: solid #00FF99 2px;
}

.layout > *:last-child {
	border-top: solid #00FF99 2px;	
}

.layout > *:nth-child(2) {
	background-color: #6677BB;
}

.restrict {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0;
}