* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	padding: 0;
	margin: 0;
	background-color: #6677BB;;
	color: #FFF;
}

header {
	margin-bottom: 55px;
	background-color: #2C302F;
	padding: 15px;
}

h1, h2, h3, h4 {
	font-family: 'Righteous', serif;
	margin-top: 0;
	position: relative;
	color: #9933CC;
}

h1 {
	text-align: left;
	position: relative;
	font-size: 32px;
}

p {
	margin-top: 0;
	margin-bottom: 12px;
}

a {
	text-decoration: none;
	color: #9BC4B2;
}

h1 a, h2 a, h3 a, h4 a {
	color: inherit;
}

a.back-link {
	font-size: .8em;
}

.restrict {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}