* {
	box-sizing: border-box;
}

body,
html {
	margin: 0;
	padding: 0;
}

body,
html,
#scroll,
.outer {
	width: 100%;
	height: 100%;
}

#scroll {
	overflow: hidden;
}

#display {
	position: relative;
}

#positioningConfirm {
	position: fixed;
	left: 50%;
	bottom: 25px;
	transform: translate(-50%, -50%);
	font-size: 40px;
	background-color: rgba(0, 170, 0, 1);
	color: #FFF;
	padding: 15px 30px;
	/*width: 100px;
	height: 86px;*/
	text-align: center;
	display: none;
	align-items: center;
	justify-content: center;
	/*mask-image: url("data:image/svg+xml,<svg id=\"tile0_0\" class=\"hex\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\" xmlns:xlink=\"http://www.w3.org/1999/xlink\"><polygon class=\"hex\"  stroke=\"rgba(0, 0, 0, 0)\" stroke-width=\"3\" points=\"25,0 75,0 100,43 75,86 25,86 0,43\"></polygon></svg>");
	background-image: url("data:image/svg+xml,<svg id=\"tile0_0\" class=\"hex\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\" xmlns:xlink=\"http://www.w3.org/1999/xlink\"><polygon class=\"hex\"  stroke=\"black\" stroke-width=\"1\" fill=\"transparent\" points=\"25,0 75,0 100,43 75,86 25,86 0,43\"></polygon></svg>");*/
}

.full-map {
	display: none;
	background-repeat: no-repeat;
	opacity: 0.2;
}

.gm-view .full-map {
	display: block;
}

.positioning .hex .icon {
	display: none;
}

.hex {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hex.selected::after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 255, 0.2);
	top: 0;
	left: 0;
}

.hex .icons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 3px;
}

.hex .icon {
	padding: 3px;
	font-size: 10px;
	background-color: #FFF;
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid black 1px;
}

.hex .party-icon {
	color: #00F;
	background-color: transparent;
	border: none;
	font-size: 26px;
	text-align: center;
	-webkit-text-stroke: #FFF 1px;
}

.hex.add {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 40px;
	background-color: rgba(0, 0, 0, 0.1);
	color: #000
}

.hex.add.overlaid {
	background-color: rgba(255, 255, 255, 0.2);
}

.hex.add .party-icon {
	color: #000;
	opacity: 0.2;
}

.hex.add.overlaid .party-icon {
	opacity: 0.5;
}

.hex.add:hover .party-icon {
	color: #00F;
	opacity: 1;
}

.gm-view .hex.add {
	background-color: rgba(255, 255, 255, 0.7);
}

.hex.hidden {
	opacity: 0;
}

.gm-view .hex.hidden {
	opacity: 1;
}

.fake-image-for-loading {
	position: absolute;
	bottom: 100%;
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	min-height: 300px;
	max-width: 90%;
	max-height: 90%;
	background-color: #FFF;
	box-shadow: 0 5px 25px #AAA;
	padding: 25px;
	overflow: auto;
	transition: all 0.2 ease-in;
	opacity: 1;
}

.form-field {
	padding: 0 0 25px 0;
	position: relative;
}

.form-field label {
	display: block;
	margin-bottom: 5px;
}

.form-field input {
	padding: 5px 10px;
	display: block;
	width: 100%;
}

.form-buttons {
	display: flex;
	flex-direction: row;
	gap: 10px;
	margin-top: 40px
}

.form-buttons button {
	flex-grow: 1;
	background-color: #000;
	color: #FFF;
	padding: 5px 10px;
}

.tool-belt {
	position: fixed;
	top: 15px;
	right: 15px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: flex-start;
	transition: all 0.2s ease-in;
}

.tool-belt.hidden {
	transform: translateX(calc(100% + 20px));
}

.tool-belt button {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FFF;
	box-shadow: 0 5px 15px #CCC;
	border-radius: 5px;
}

.tool-belt button.disabled {
	opacity: .3;
}

.hex-icon {
	background-color: #000;
	width: 20px;
	height: 17.2px;
	mask-image: url("data:image/svg+xml,<svg id=\"tile0_0\" class=\"hex\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\" xmlns:xlink=\"http://www.w3.org/1999/xlink\"><polygon class=\"hex\" points=\"5,0 15,0 20,8.6 15,17.2 5,17.2 0,8.6\"></polygon></svg>");
}

.settings {
	position: fixed;
	top: 15px;
	right: 70px;
	width: 250px;
	max-width: calc(100% - 85px);
	background-color: #FFF;
	box-shadow: 0 5px 15px #CCC;
	border-radius: 5px 0 5px 5px;
	overflow: hidden;
}

.settings.hidden {
	display: none;
}

.menu-item {
	display: grid;
	border-bottom: solid #666 1px;
	grid-template-columns: 36px 1fr;
}

.menu-item:not(.on):hover .icon {
	background-color: #EEE;
}

.menu-item:last-child {
	border-bottom: none;
}

.menu-item .on {
	display: none;
}

.menu-item.on .on {
	display: initial;
}

.menu-item.on .off {
	display: none;
}

.menu-item .icon {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	flex-grow: 0;
	padding: 10px;
	border-right: solid #999 1px;
}

.menu-item.on .icon {
	background-color: #000;
	color: #FFF;
}

.menu-item .text {
	padding: 10px;
}

a {
	text-decoration: none;
}

textarea {
	width: 100%;
	min-height: 60px;
}

button {
	width: 100px;
	padding: 10px;
	font-size: 18px;
	border: 0;
	background-color: transparent;
	margin: 0;
}

button.on {
	background-color: #889;
	color: #FFF;
}

button .on {
	display: none;
}

button .off {
	display: initial;
}

button.on .off {
	display: none;
}

button.on .on {
	display: initial;
}

.visualizer {
	width: 3px;
	height: 3px;
	position: fixed;
	background-color: #F00;
}

.no-content {
	padding: 5px 10px;
	text-align: center;
	background-color: #DDD;
}

.modal.notes {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 50px;
}

.modal.notes > div {
	width: 100%;
	flex-grow: 0;
	flex-shrink: 0;
	transition: all 0.2s ease-in;
}

.note {
	display: flex;
	flex-direction: row;
	gap: 10px;
	margin-bottom: 15px;
}

.note:last-child {
	margin-bottom: 0;
}

.note .icon {
	flex-grow: 0;
	flex-shrink: 0;
	padding-top: 15px;
}

.note .text {
	flex-grow: 1;
	flex-shrink: 1;
	padding: 15px;
	background-color: #EEE;
}

.add-note {
	text-align: right;
	padding: 10px 0
}

.note-type-select {
	width:max-content;	
	border: solid #444 1px;
}

.note-type-options {
	border: solid #444 1px;
	width: fit-content;
	box-shadow: 0 5px 5px #CCC;
	position: absolute;
	z-index: 100;
	background-color: #FFF;
}

.note-type-options.hidden {
	display: none;
}

.note-type-select {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.note-type-select div {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 10px 0 0;
}

.note-type-select div:first-child {
	flex-shrink: 0;
	flex-grow: 0;
	padding: 10px 0 10px 10px;
}

.add-note .form-buttons {
	margin-top: 0;
}

.modal.hiding {
	opacity: 0;
}

.modal.hidden {
	display: none;
}