* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

body > * {
	width: 100%;
	padding: 15px;
	border-bottom: solid black 1px;
}

body > section {
	padding: 40px 15px;
}

body > :last-child:not(script) {
	border: none;
}

section,
header,
footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

h1 {
	margin: 0;
}

h2, h3 {
	margin: 0 0 15px 0;
}

.contain {
	width: 900px;
	max-width: 100%;
	display: flex;
	flex-direction: column;
}

.text-right {
	text-align: right;
}

.hide {
	display: none;
}

.form-field {
	margin: 0 0 15px 0;
}

.form-field label {
	display: block;
	font-size: -1pt;
}

.or {
	text-align: center;
	margin: 25px 0;
}

.form-field input {
	display: inline-block;
	width: 100%;
	padding: 10px 10px;
	outline: none;
}

button {
	width: 100%;
	text-align: center;
	border-radius: 0;
	background-color: #555;
	outline: none;
	border: none;
	color: #FFF;
	padding: 10px 20px;
	font-weight: bold;
}

@media (min-width: 900px) {
	.desktop-show {
		display: block;
	}

	.desktop-hide {
		display: none;
	}

	.columns {
		display: grid;
		column-gap: 20px;
	}

	.columns-divine {
		grid-template-columns: 62% 1fr;
	}

	.columns-divine-reverse {
		grid-template-columns: 38% 1fr;
	}

	.columns-half {
		grid-template-columns: 50% 50%;
	}

	.column-skinny {
		padding: 0 30px;
	}
}